
{% extends 'base.html' %}
    {% block content %}



        <!-- mini cart start -->

        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 data-aos="fade-up" data-aos-delay="200">Новости</h2>
                    <ul data-aos="fade-up" data-aos-delay="400">
                        <li><a href="/">Главная</a></li>
                        <li><i class="ti-angle-right"></i></li>
                        <li>Новости</li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
                <img src="/static/images/banner/breadcrumb-1.png" alt="">
            </div>
            <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
                <img src="/static/images/banner/breadcrumb-2.png" alt="">
            </div>
        </div>


        <div class="blog-details-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-wrapper">
                            <div class="blog-details-img-date-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                <div class="blog-details-img">
                                    <img src="/media/{{ blog_detail.main_logo }}" alt="">
                                </div>
                                <div class="blog-details-date">
                                    <h5>{{ blog_detail.date.day }} <span>{{ blog_detail.date|date:'M' }}</span></h5>
                                </div>
                            </div>
                            <div class="blog-meta-2" data-aos="fade-up" data-aos-delay="200">
                                <ul>
                                    <li><a href="#">{{ blog_detail.which_one }}</a>,</li>
                                    <li>Автор: <a href="#"> {{ blog_detail.author }}</a></li>
                                </ul>
                            </div>
                            <h1 data-aos="fade-up" data-aos-delay="200">{{ blog_detail.title }}</h1>
                            <p data-aos="fade-up" data-aos-delay="200">{{ blog_detail.main_description }}</p>
                            {% for bq in blog_quote %}
                            <blockquote class="blockquote-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="quote-img">
                                    <img src="/static/images/icon-img/quote.png" alt="">
                                </div>
                                <h2>{{ bq.description }}</h2>
                                <h4>{{ bq.last_name }} {{ bq.first_name }}</h4>
                            </blockquote>
                            {% endfor %}
                            <p data-aos="fade-up" data-aos-delay="200">{{ blog_detail.more_description }}</p>
                            <div class="blog-details-middle-img-wrap">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-12">
                                        <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="200">
                                            <img src="/media/{{ blog_detail.logo1 }}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-12">
                                        <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="400">
                                            <img src="/media/{{ blog_detail.logo2 }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tag-social-wrap">
                                <div class="social-comment-digit-wrap" data-aos="fade-up" data-aos-delay="400">
                                    <div class="social-icon-style-2">
                                        <a href="{{ blog_detail.facebook }}"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ blog_detail.whatsapp }}"><i class="fa fa-whatsapp"></i></a>
                                        <a href="{{ blog_detail.twitter }}"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <div class="comment-digit">
                                        <a href="#">2 <i class="fa fa-comments"></i></a>
                                    </div>
                                </div>
                            </div>


                            <!--Комментарии-->
                            <div class="blog-comment-wrapper">
                                <h4 class="blog-dec-title" data-aos="fade-up" data-aos-delay="200">Комментарии (02)</h4>
                                <div class="single-comment-wrapper single-comment-border" data-aos="fade-up" data-aos-delay="400">
                                    <div class="blog-comment-img">
                                        <img src="/static/images/blog/blog-comment-1.png" alt="">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="comment-info-reply-wrap">
                                            <div class="comment-info">
                                                <span>October 14, 2020 </span>
                                                <h4>Anthony Stephens</h4>
                                            </div>
                                            <div class="comment-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consecteg adipisicing elit sed do eius tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minikl veniam, quis nostrud exercitatio. </p>
                                    </div>
                                </div>
                                <div class="single-comment-wrapper single-comment-ml" data-aos="fade-up" data-aos-delay="600">
                                    <div class="blog-comment-img">
                                        <img src="/static/images/blog/blog-comment-2.png" alt="">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="comment-info-reply-wrap">
                                            <div class="comment-info">
                                                <span>October 14, 2020 </span>
                                                <h4>DX Joxova</h4>
                                            </div>
                                            <div class="comment-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodl tempor incididunt ut labore et dolore </p>
                                    </div>
                                </div>
                            </div>


                            <!--Оставить комментарий-->
                            <div class="blog-comment-form-wrap">
                                <div class="blog-comment-form-title">
                                    <h2 data-aos="fade-up" data-aos-delay="200">Оставить комментарий</h2>
                                </div>
                                <div class="blog-comment-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="200">
                                                    <input type="text" placeholder="Ваша имя">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="300">
                                                    <input type="email" placeholder="Ваш почта">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="400">
                                                    <input type="text" placeholder="Название">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="500">
                                                    <textarea placeholder="Комментария"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="comment-submit-btn btn-hover" data-aos="fade-up" data-aos-delay="700">
                                                    <button class="submit" type="submit">Отправить<i class=" ti-arrow-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-wrapper blog-sidebar-mt">
                            <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                                <div class="search-wrap-3">
                                    <form class="search-3-form" action="#">
                                        <input placeholder="Поиск*" type="text">
                                        <button class="button-search"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                                <div class="sidebar-widget-title-2 mb-25">
                                    <h3>Категории</h3>
                                </div>
                                <div class="sidebar-list-style-2">
                                    <ul>
                                        {% for cat in categories %}
                                        <li><a href="blog-sidebar.html">{{ cat.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                                <div class="sidebar-widget-title-2 mb-30">
                                    <h3>Последние новости</h3>
                                </div>
                                <div class="latest-post-wrap">
                                    {% for lb in latest_blogs %}
                                    <div class="single-latest-post">
                                        <div class="latest-post-img">
                                            <a href="blog-details.html"><img src="/media/{{ lb.main_logo }}" alt=""></a>
                                        </div>
                                        <div class="latest-post-content">
                                            <span>{{ lb.date|date:'d-M-y' }}</span>
                                            <h4><a href="/blog/{{ blog.id }}/">{{ lb.title }}</a></h4>
                                            <div class="latest-post-btn">
                                                <a href="/blog/{{ blog.id }}/">Читать...</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                                <div class="sidebar-banner">
                                    <a href="product-details.html"><img src="/static/images/banner/banner-29.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}