{% extends 'base.html' %}
    {% block content %}

        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li>
                            <div class="cart-img">
                                <a href="#"><img src="/static/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Stylish Swing Chair</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li>
                            <div class="cart-img">
                                <a href="#"><img src="/static/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Modern Chairs</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-btn btn-hover">
                        <a class="theme-color" href="cart.html">view cart</a>
                    </div>
                    <div class="checkout-btn btn-hover">
                        <a class="theme-color" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 data-aos="fade-up" data-aos-delay="200">Контакты </h2>
                    <ul data-aos="fade-up" data-aos-delay="400">
                        <li><a href="index.html">Главная</a></li>
                        <li><i class="ti-angle-right"></i></li>
                        <li>Контакты</li>
                    </ul>
                </div>
            </div>
             <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
                <img src="/static/images/капля2.png" alt="">
            </div>
            <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
                <img src="/static/images/капля1.png" alt="">
            </div>
        </div>
        <div class="contact-us-area pt-100 pb-65">
            <div class="container">
                <div class="section-title-4 text-center mb-50" data-aos="fade-up" data-aos-delay="200">
                    <h2>Адрес нашей торговой точки!</h2>
                    <p> Пожалуйста, посетите нас.</p>
                </div>
                <div class="row">
                    {% for c in contact %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="contact-us-info-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="contact-us-info-title">
                                <h3>{{ c.name }}</h3>
                            </div>
                            <div class="contact-us-info">
                                <p> Адрес: {{ c.address }}</p>
                                <a href="tel:+77075526542"><span> Контактная телефон: {{ c.phone }}</span></a>
                                <br>
                                <a href="https://www.instagram.com/{{ c.instagram }}/"><span> Instagram: {{ c.instagram }}</span></a>
                                <br>
                                <a href="https://wa.me/{{c.whatsapp}}"><span> Whatsapp: {{ c.whatsapp }}</span></a>
                                <br>
                                <span> Рабочие дни: {{ c.time }}</span>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="map pt-120" data-aos="fade-up" data-aos-delay="200">
            {% for c in contact %}
                <iframe src="{{ c.karta }}"></iframe>
            {% endfor %}
        </div>
        <div class="contact-form-area pt-90 pb-100">
            <div class="container">
                <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
                    <h2>Спросите нас здесь.</h2>
                </div>
                <div class="contact-form-wrap" data-aos="fade-up" data-aos-delay="200">
                    <form class="contact-form-style" id="request" action="/contact" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4">
                                <input name="first_name" type="text" placeholder="Имя*">
                                <input name="last_name" type="text" placeholder="Фамилия*">
                                <input name="email" type="email" placeholder="Email*">
                                <input name="phone" type="phone" placeholder="Телефон*">
                            </div>
                            <div class="col-lg-8">
                                <textarea name="message" placeholder="Сообщения"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 contact-us-btn btn-hover">
                                <button class="submit" type="submit">Отправить</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
        <script>

                $("#request").submit(function() {
                var oData = {
                    'last_name': $('#request').find('[last_name="last_name"]').val(),
                    'first_name': $('#request').find('[first_name="first_name"]').val(),
                    'email': $('#request').find('[name="email"]').val(),
                    'phone': $('#request').find('[name="phone"]').val(),
                    'message': $('#request').find('[name="message"]').val()

                };

                oData = $('#request').serialize();

                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:8000/contact',
                    dataType: 'html',
                    data: oData,
                    success:function(){
                        alert("Успешно отправлено");
                    }
                })


                return false;
            });

        </script>

        {% endblock %}