{% extends 'base.html' %}
    {% block content %}

         <!-- mini cart start -->
        <div class="slider-area">
            <div class="slider-active swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" id="swiper-wrapper-ef410ec5e748d4c4" aria-live="polite" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 1349px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);" role="group" aria-label="1 / 4">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(/static/images/стул.jpg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">Скидка до 40%</h3>
                                            <h1 class="animated">Летняя  <br>коллекция</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="product-details.html" class="btn hover-border-radius theme-color animated">
                                                    Купить сейчас
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% for main in mains %}
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 1349px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2698px, 0px, 0px);" role="group" aria-label="3 / 4">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(/media/{{ main.logo }})">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">{{ main.main_info }}</h3>
                                            <h1 class="animated">{{ main.title }}  <br>{{ main.title1 }}</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="product-details.html" class="btn hover-border-radius theme-color animated">
                                                    Купить сейчас
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                    <div class="home-slider-prev2 main-slider-nav2" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ef410ec5e748d4c4"><i class="fa fa-angle-left"></i></div>
                    <div class="home-slider-next2 main-slider-nav2" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ef410ec5e748d4c4"><i class="fa fa-angle-right"></i></div>
                <!--<div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 1349px; transition-duration: 0ms; opacity: 0; transform: translate3d(-4047px, 0px, 0px);" role="group" aria-label="6 / 4">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(/static/images/стул.jpg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">Скидка до 40%</h3>
                                            <h1 class="animated">Летняя  <br>коллекция</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="product-details.html" class="btn hover-border-radius theme-color animated">
                                                    Купить сейчас
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>-->
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <br><br>



        <div class="service-area pb-65">
            <div class="container">
                <div class="row">
                    {% for service in services %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-img-2">
                                <img src="/media/{{ service.logo }}" alt="">
                            </div>
                            <div class="service-content-2">
                                <h3>{{ service.title }}</h3>
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>



        <div class="banner-area pt-100 pb-70">
            <div class="container">
                <div class="section-title-2 border-none text-center mb-30" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="mb-30">Наш каталог</h2>
                </div>
                <div class="row">
                    {% for catalog in catalogs %}
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="product-details.html">
                                <img src="/media/{{ catalog.logo }}" alt="" style="object-fit: cover; width: 540px; height: 340px;">
                            </a>
                            <div class="banner-content-5">
                                <h2>{{ catalog.title }}</h2>
                                <div class="btn-style-3 btn-hover">
                                    <a class="btn hover-border-radius" href="/shop/{{ catalog.id }}">Показать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>





        <div class="product-area pb-60">
            <div class="container">
                <div class="section-title-2 border-none text-center mb-15" data-aos="fade-up" data-aos-delay="200">
                    <h2>Наши продукты</h2>
                </div>
                <div class="tab-style-1 tab-style-1-margin tab-border-none tab-center nav" data-aos="fade-up" data-aos-delay="400">
                    <a href="#pro-1" data-bs-toggle="tab">Все товары</a>
                    <a class="active" href="#pro-2" data-bs-toggle="tab">Новые поступление</a>
                    <a href="#pro-3" data-bs-toggle="tab" class=""> Хиты продаж </a>
                </div>
                <div class="tab-content jump">
                    <div id="pro-1" class="tab-pane">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="product-details.html" style="object-fit: cover; width: 270px; height: 300px;">
                                            <img src="/media/{{ product.logo }}" alt="">
                                        </a>

                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>{% if discount %} - {{ product.discount }}% {% endif %}</span>
                                        </div>

                                        <div class="product-action-wrap">
<!--                                            <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>-->
                                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#example1Modal{{ product.id }}">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>Добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{ product.title }}</a></h3>
                                        <div class="product-price">
                                            <span class="old-price">{% if old_price %} {{ product.old_price }} тг {% endif %} </span>
                                            <span class="new-price">{{ product.new_price }} тг</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade quickview-modal-style" id="example1Modal{{product.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="row gx-0">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="modal-img-wrap">
                                    <img src="/media/{{ product.logo }}" style="object-fit:cover" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="product-details-content quickview-content">
                                    <h2>{{ product.title }}</h2>
                                    <div class="product-details-price">
                                        <span class="old-price">{% if old_price %}{{ product.old_price }} тг{% endif %}</span>
                                                        <span class="new-price">{{ product.new_price }} тг</span>
                                    </div>
                                    <div class="product-details-review">
                                        <div class="product-rating">
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                        </div>
<!--                                        <span>( 1 Customer Review )</span>-->
                                    </div>
                                    <div class="product-color product-color-active product-details-color">
                                        <span>Цвет :</span>
                                        <ul>
                                            <li><a title="Pink" class="pink" href="#">pink</a></li>
                                            <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                            <li><a title="Purple" class="purple" href="#">purple</a></li>
                                        </ul>
                                    </div>
                                    <p>{{ product.short_description }}</p>
                                    <div class="product-details-action-wrap">
                                        <div class="product-quality">
                                            <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                        </div>
                                        <div class="single-product-cart btn-hover">
                                            <a href="{{ product.kaspi_link }}">Купить через Kaspi</a>
                                        </div>
<!--                                        <div class="single-product-wishlist">-->
<!--                                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="single-product-compare">-->
<!--                                            <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="pro-2" class="tab-pane active">
                        <div class="row">
                            {% for np in new_products %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="product-details.html">
                                            <img src="/media/{{ np.logo }}" alt="">
                                        </a>
                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>{% if discount %} - {{ np.discount }}% {% endif %}</span>
                                        </div>
                                        <div class="product-action-wrap">
<!--                                            <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>-->
                                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#example2Modal{{ np.id }}">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>Добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{ np.title }}</a></h3>
                                        <div class="product-price">
                                            <span class="old-price">{% if old_price %} {{ np.old_price }} тг {% endif %} </span>
                                            <span class="new-price">{{ np.new_price }} тг</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade quickview-modal-style" id="example2Modal{{np.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="row gx-0">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="modal-img-wrap">
                                    <img src="/media/{{ np.logo }}" style="object-fit:cover" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="product-details-content quickview-content">
                                    <h2>{{ np.title }}</h2>
                                    <div class="product-details-price">
                                        <span class="old-price">{% if old_price %}{{ np.old_price }} тг{% endif %}</span>
                                                        <span class="new-price">{{ np.new_price }} тг</span>
                                    </div>
                                    <div class="product-details-review">
                                        <div class="product-rating">
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                        </div>
<!--                                        <span>( 1 Customer Review )</span>-->
                                    </div>
                                    <div class="product-color product-color-active product-details-color">
                                        <span>Цвет :</span>
                                        <ul>
                                            <li><a title="Pink" class="pink" href="#">pink</a></li>
                                            <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                            <li><a title="Purple" class="purple" href="#">purple</a></li>
                                        </ul>
                                    </div>
                                    <p>{{ np.short_description }}</p>
                                    <div class="product-details-action-wrap">
                                        <div class="product-quality">
                                            <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                        </div>
                                        <div class="single-product-cart btn-hover">
                                            <a href="{{ np.kaspi_link }}">Купить через Kaspi</a>
                                        </div>
<!--                                        <div class="single-product-wishlist">-->
<!--                                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="single-product-compare">-->
<!--                                            <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                            {% endfor %}
                        </div>
                    </div>
                    <div id="pro-3" class="tab-pane">
                        <div class="row">
                            {% for bsp in bs_products %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="product-details.html">
                                            <img src="/media/{{ bsp.logo }}" alt="">
                                        </a>
                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>{% if discount %} - {{ bsp.discount }}% {% endif %}</span>
                                        </div>
                                        <div class="product-action-wrap">
<!--                                            <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>-->
                                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#example3Modal{{bsp.id}}">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>Добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{ bsp.title }}</a></h3>
                                        <div class="product-price">
                                            <span class="old-price">{% if old_price %} {{ bsp.old_price }} тг {% endif %} </span>
                                            <span class="new-price">{{ bsp.new_price }} тг</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade quickview-modal-style" id="example3Modal{{bsp.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="row gx-0">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="modal-img-wrap">
                                    <img src="/media/{{ bsp.logo }}" style="object-fit:cover" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="product-details-content quickview-content">
                                    <h2>{{ bsp.title }}</h2>
                                    <div class="product-details-price">
                                        <span class="old-price">{% if old_price %}{{ bsp.old_price }} тг{% endif %}</span>
                                                        <span class="new-price">{{ bsp.new_price }} тг</span>
                                    </div>
                                    <div class="product-details-review">
                                        <div class="product-rating">
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                        </div>
<!--                                        <span>( 1 Customer Review )</span>-->
                                    </div>
                                    <div class="product-color product-color-active product-details-color">
                                        <span>Цвет :</span>
                                        <ul>
                                            <li><a title="Pink" class="pink" href="#">pink</a></li>
                                            <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                            <li><a title="Purple" class="purple" href="#">purple</a></li>
                                        </ul>
                                    </div>
                                    <p>{{ bsp.short_description }}</p>
                                    <div class="product-details-action-wrap">
                                        <div class="product-quality">
                                            <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                        </div>
                                        <div class="single-product-cart btn-hover">
                                            <a href="{{ bsp.kaspi_link }}">Купить через Kaspi</a>
                                        </div>
<!--                                        <div class="single-product-wishlist">-->
<!--                                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="single-product-compare">-->
<!--                                            <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="banner-area pb-100">
            <div class="bg-img bg-padding-2" style="background-image:url(/static/images/bg/bg-2.png)">
                <div class="container">
                    <div class="banner-content-5 banner-content-5-static">
                        <span data-aos="fade-up" data-aos-delay="200">Up To 40% Off</span>
                        <h1 data-aos="fade-up" data-aos-delay="400">New Furniture <br>Sofa Set</h1>
                        <div class="btn-style-3 btn-hover" data-aos="fade-up" data-aos-delay="600">
                            <a class="btn hover-border-radius" href="product-details.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="banner-area pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="product-details.html"><img src="/static/images/banner/banner-18.png" alt=""></a>
                            <div class="banner-content-10-position">
                                <div class="banner-content-10">
                                    <h3>Exceptional</h3>
                                    <h4>Officr Chair</h4>
                                </div>
                            </div>
                            <div class="banner-btn-1">
                                <a href="product-details.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <a href="product-details.html"><img src="/static/images/banner/banner-19.png" alt=""></a>
                            <div class="banner-content-5 position-modify">
                                <span>Up To 40% Off</span>
                                <h2>Dining Furniture</h2>
                                <div class="btn-style-3 btn-hover">
                                    <a class="btn hover-border-radius" href="product-details.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="brand-logo-area pb-95">
            <div class="container">
                <div class="brand-logo-active swiper-container">
                    <div class="swiper-wrapper">
                        {% for sponsor in sponsors %}
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="200">
                                <a href="#"><img src="/media/{{ sponsor.logo }}" alt=""></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-area pb-70">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Последние новости</h2>
                </div>
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/media/{{ blog.main_logo }}" alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>{{ blog.date.day }}<span>{{ blog.date|date:'M' }}</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li style="margin-right:30px;"><a href="#">{{ blog.which_one }}</a>,</li>
                                        <li>Автор: <a href="#"> {{ blog.author }}</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">{{ blog.title }}</a></h3>
                                <p>{{ blog.main_description }}</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="/blog/{{ blog.id }}/">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endblock %}